*{
    box-sizing:border-box;
 }
  .container{
     width: 100%;
     height:100vh;
     background-image:url("image.webp") ;
     background-position:center;
     background-size: cover;
     position:relative
  }
  .form{
     width:90%;
     max-width:450px;
     position:absolute;    
     left:50%;
     transform:translate(-50%,20%);
     background-image:url('images.jpeg');
     background-position:top;
     background-size: cover;
     padding:50px 60px 70px;
    text-align:center;       
  }
  .for1{
     
     background-image:url('imagesi.jpeg');
     background-position:top;
     background-size: cover;
     box-shadow :2px;
     font-size:30px;
     font-weight: bold;
     margin-bottom:60px;
     color:#1a0101;
     border:0px double rgb(235, 228, 241);
     height:80%;

  }
 button{
   font-weight:italic;
     border:2px solid black;
     background-color: black;
     color:#fff
 }
 .fa{
    color:rgb(52, 9, 240);

 }
 .but{
   color:rgb(190, 72, 25);
   font-size:30px;
   background-color: #fff;
 }
 .align
 {
   background-color:rgb(222, 224, 231);
   align-content:center;
   text-decoration-line: none;
   padding: 16px;
   font-size: 16px;
   border: 1;
   width: fit-content;
   align-items: initial;
 }
 .lin {
   background-color:#e9e4e3;
   color:black;
   padding: 16px;
   font-size: 16px;
   margin-right: 20px;
 }
 .link {
   position:static;
   display:inline-block;
 }
 .alink{
   background-color:White;
   font-size: large;
   font-weight: bold;
   position: static;}
 a:hover{
   color:#1a0101
 }